@font-face {
  font-family: 'DNFBitBitv2';
  src: url('../public/font/DNFBitBitv2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DNFForgedBlade-Medium';
  src: url('../public/font/DNFForgedBlade-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DNFBitBitv2', Arial, sans-serif;
  background-color: #fff; /* 배경 색상 설정 */
}::-webkit-scrollbar {
  display: none;
}

.RootPageBody{
  width: 100vw;
}
.PostPageBody{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}