@font-face {
  font-family: 'DNFForgedBlade-Medium';
  src: url('../../public/font/DNFForgedBlade-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.RootPageBody{
  width: 100vw;
  
}