.ChangeLang{
  height: 120px;
  color: lightgray;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: flex-end;
  p {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    
  }:hover{
    color: black;
  }
}